/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* GENERAL */
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    height: calc(100% - 5.625rem);
}

ul{
    list-style: none;
}

img{
    width: 100%;
}



/* TIPOGRAPHY */
h3{
    color: #fff;
}

h4{
    font-size: 15px;
}



/* BUTTONS */
button{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: .625rem 1.875rem;
    border-radius: 1.875rem;
}

button:hover {
    transform: scale(1.1);
}



/* HEADER */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    color: #717171;
    width: 3.125rem;
    flex-shrink: 0;
    padding: .625rem .75rem .625rem 0;
    overflow-y: auto;
}

header::-webkit-scrollbar{
    display: none;
}

header div{
    display: flex;
}

header #playlist, a, header span, h4, strong, hr, #add-square{
    display: none;
}

header div > a{
    font-size: .9375rem;
    margin-left: .3125rem;
}

header a{
    color: #717171;
    text-decoration: none;
}

header img:not(#nav-top div > #logo,
 #download > #icon-download,
 #profile > img){
    width: 1.375rem;
    margin-bottom: .625rem;
}

header a:hover{
    color: #fff;
}


/* Nav-top */
#logo{
    display: none;
    width: 9.375rem;
    margin-bottom: 1.5625rem;
}

.select{
    padding-left: .75rem;
    border-left: .125rem solid #000000;
}

/* Playlist */
#playlist{
    padding-left: .75rem;
}

#playlist h4{
    margin-top: 1.25rem;
    color: #fff;
}

#playlist-name{
    display: flex;
    flex-wrap: wrap;
}

#add-square{
    background-color: #A3A3A3;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    margin: .9375rem 0;
    font-size: 1.5625rem;
    color: #000000;
} 

#add-square:hover{
    background-color: #fff;
}

#add-square > a{
    color: #000000;
}

#create{
    height: 2.5rem;
    padding: 1.625rem 0;
}

#create > a{
    font-size: .9375rem;
    margin-left: .5rem;
}

#playlist-name ul{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#playlist-name ul::-webkit-scrollbar{
    display: none;
}

#playlist-name ul > li{
    margin-bottom: .5rem;
    font-size: .8125rem;
}


/* Nav-bottom */
#nav-bottom{
    display: flex;
    flex-direction: column;
    padding-left: .75rem;
}

#download{
    margin-bottom: .625rem;
}

#icon-download{
    width: .9375rem;
}

#download > a{
    margin-bottom: .0625rem;
    margin-left: .3125rem;
}

#nav-bottom > hr{
    margin-bottom: .9375rem;
}

#profile{
    background-color: #808080;
    border-radius: 100%;
    padding: 4px;
    text-align: center;
    line-height: .625rem;
}

#profile > img{
    width: 1rem;
}

#username a > strong{
    margin-top: .25rem;
    margin-left: .375rem;
    color: white;
    font-size: .875rem;
}



/* MAIN */
main{
    background-color: #141922;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

main::-webkit-scrollbar{
    width: .625rem;
}

main::-webkit-scrollbar-track{
    background-color: lightgray;
    border-radius: .625rem;
}

main::-webkit-scrollbar-thumb{
    background-color: rgb(105, 105, 105);
    border-radius: .625rem;
}

/* Upgrade */
#upgrade{
    background-color: #080B12;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 5rem;
    padding: 0 .9375rem;
    text-align: right;
    line-height: 5rem;
}

/* Nav main */
#nav-main{
    color: #717171;
    font-size: .75rem;
    font-weight: 800;
}

#nav-main > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .9375rem 1.25rem;
    gap: 1.5625rem;
}

#nav-main ul li > a:hover{
    color: #fff;
}

#nav-main ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #717171;
}

#nav-main ul li > hr{
    display: block;
    border: 1px solid limegreen;
    width: 40%;
    margin: auto;
}


/* Section Recently Played */
.container-played{
    padding: .9375rem 1.25rem;
}

.container-played > span{
    color: #717171;
    font-size: .8125rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: .625rem;
    margin-top: 1.875rem;
}

.row .col{
    width: calc(100% / 2);
}

.container-album{
    margin: 0 .625rem;
    position: relative;
}

.container-album img{
    display: block;
}

.hoverlay{
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 3.125rem;
    background-color: #000000;
    position: absolute;
    top: 0;
}

.container-album:hover .hoverlay{
    opacity: 0.7;
}

.container-details{
    text-align: center;
}

.container-details > h5{
    color: #fff;
    display: block;
    font-size: .875rem;
    margin-top: .3125rem;
}

.container-details > span{
    color: #717171;
    font-size: .8125rem;
}

/* Section Popolar Artists */
.circle{
    border-radius: 100%;
    overflow: hidden;
}



/* FOOTER */
footer{
    display: flex;
    background-color: #282828;
    height: 5.625rem;
    padding: .9375rem 1.25rem;
    flex-shrink: 0;
    color: #fff;
    font-size: .875rem;
    gap: 1.25rem;
}

#song, #song-commands, #settings{
    width: calc(100% / 3);
}

#song-commands{
    text-align: center;
}

#settings{
    text-align: right;
}

/* Song */
#song{
    display: flex;
    align-items: center;
    gap: .9375rem;
}

footer img{
    max-width: 3.125rem;
}

.details{
    display: flex;
    flex-direction: column;
}

.details > span{
    font-size: .75rem;
    color: #848484;
}

.details > span:hover{
    color: white;
    text-decoration: underline;
}

#song div:last-child{
    display: flex;
    flex-direction: column;
    row-gap: .625rem;
    color: #848484;
}

#song div:last-child i:hover{
    color: white;
}

/* Container song commands */
#song-commands div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .9375rem;
    margin-bottom: 1.25rem;
}

.hover:hover{
    scale: 1.6;
}

#container-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .625rem;
    position: relative;
}

#sound-bar{
    flex-grow: 1;
    height: .3125rem;
    background-color: #5A5A5A;
    border-radius: 5px;

}

#sound-bar-inner{
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background-color: #C1C1C1;
}

.cursor{
    width: .875rem;
    height: .875rem;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: .25rem;
    left: 28%;
    display: none;
}

#container-bar:hover .cursor{
    display: block;
}

#container-bar:hover #sound-bar-inner{
    background-color: limegreen;
}

/* Settings */
#settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .75rem;
}

#vol-bar{
    width: 5rem;
    height: .3125rem;
    background-color: #5A5A5A;
    border-radius: 5px;
}

#vol-bar-inner{
    width: 60%;
    height: 100%;
    border-radius: 5px;
    background-color: #C1C1C1;
}

.position{
    display: flex;
    align-items: center;
    min-height: .9375rem;
    position: relative;
}

#vol-bar > .cursor{
    top: .0625rem;
    left: 59%;
}

.position:hover #vol-bar-inner{
    background-color: limegreen;
}

.position:hover .cursor{
    display: block;
}


/* RESPONSIVE */
/* Da 550px a infinito */
@media screen and (min-width: 500px){
    /* Header */
    header{
        width: 10.625rem;
    }

    #nav-top div > #logo{
        display: block;
    }

    #logo-small{
        display: none;
    }

    .select.lime{
        border-left: .125rem solid limegreen;
    }

    header #playlist, a, header span, h4, strong, hr, #add-square{
        display: inline-block;
    }
}


/* Da 700px a infinito */
@media screen and (min-width: 650px){
    /* Header */
    header{
        width: 14.375rem;
    }

    /* Main */
    .row .col{
        width: calc(100% / 4);
    }
}


/* Da 1000px a infinito */
@media screen and (min-width: 1000px){
    /* Main */
    .row .col{
        width: calc(100% / 6);
    }
}
