/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* GENERAL */
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    height: calc(100% - 5.625rem);
}

ul{
    list-style: none;
}

img{
    width: 100%;
}



/* TIPOGRAPHY */
h3{
    color: #fff;
}

h4{
    font-size: 15px;
}



/* BUTTONS */
button{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: .625rem 1.875rem;
    border-radius: 1.875rem;
}



/* HEADER */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    color: #717171;
    width: 3.125rem;
    flex-shrink: 0;
    padding: .625rem .75rem .625rem 0;
    overflow-y: auto;
}

header::-webkit-scrollbar{
    display: none;
}

header div{
    display: flex;
}

header #playlist, a, header span, h4, strong, hr, #add-square{
    display: none;
}

header div > a{
    font-size: .9375rem;
    margin-left: .3125rem;
}

header a{
    color: #717171;
    text-decoration: none;
}

header img:not(#nav-top div > #logo,
 #download > #icon-download,
 #profile > img){
    width: 1.375rem;
    margin-bottom: .625rem;
}


/* Nav-top */
#logo{
    display: none;
    width: 9.375rem;
    margin-bottom: 1.5625rem;
}

.select{
    padding-left: .75rem;
    border-left: .125rem solid #000000;
}

.margin{
    margin-top: .1875rem;
}

/* Playlist */
#playlist{
    padding-left: .75rem;
}

#playlist h4{
    margin-top: 1.25rem;
    color: #fff;
}

#playlist-name{
    display: flex;
    flex-wrap: wrap;
}

#add-square{
    background-color: #A3A3A3;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    margin: .9375rem 0;
    font-size: 1.5625rem;
    color: #000000;
} 

#add-square > a{
    color: #000000;
}

#create{
    height: 2.5rem;
    padding: 1.625rem 0;
}

#create > a{
    font-size: .9375rem;
    margin-left: .5rem;
}

#playlist-name ul{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#playlist-name ul > li{
    margin-bottom: .5rem;
    font-size: .8125rem;
}


/* Nav-bottom */
#nav-bottom{
    display: flex;
    flex-direction: column;
    padding-left: .75rem;
}

#download{
    margin-bottom: .625rem;
}

#icon-download{
    width: .9375rem;
}

#download > a{
    margin-bottom: .0625rem;
    margin-left: .3125rem;
}

#nav-bottom > hr{
    margin-bottom: .9375rem;
}

#profile{
    background-color: #808080;
    border-radius: 100%;
    padding: 4px;
    text-align: center;
    line-height: .625rem;
}

#profile > img{
    width: 1rem;
}

#username a > strong{
    margin-top: .25rem;
    margin-left: .375rem;
    color: white;
    font-size: .875rem;
}



/* MAIN */
main{
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

main::-webkit-scrollbar{
    display: none;
}

#header-main{
    background-color: #080B12;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 5rem;
    padding: 0 .9375rem;
    text-align: right;
    line-height: 5rem;
}

#nav-main{
    color: #717171;
    font-size: .75rem;
    font-weight: 800;
}

#nav-main > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .9375rem 1.25rem;
    gap: 1.5625rem;
}


/* Section Recently Played */
.container-played{
    padding: .9375rem 1.25rem;
}

.container-played > span{
    color: #717171;
    font-size: .8125rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: .625rem;
    margin-top: 1.875rem;
    width: 100%;
}

.row .col{
    width: calc(100% / 2);
}

.container-album{
    width: 12.5rem;
    padding: 0 .625rem;
    position: relative;
}

.container-img{
    width: 11.25rem;
    height: 11.25rem;
}

.hoverlay{
    display: none;
    width: 11.25rem;
    height: 11.25rem;
    text-align: center;
    line-height: 12.5rem;
    color: #fff;
    font-size: 3.125rem;
    background-color: rgba( 0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}

.container-album:hover .hoverlay{
    display: block;
}

.container-details{
    text-align: center;
}

.container-details > h5{
    color: #fff;
    display: block;
    font-size: .875rem;
    margin-top: .3125rem;
}

.container-details > span{
    color: #717171;
    font-size: .8125rem;
}

/* Section Popolar Artists */
.circle{
    border-radius: 100%;
    overflow: hidden;
}



/* FOOTER */
footer{
    background-color: #282828;
    height: 5.625rem;
    flex-shrink: 0;
}



/* RESPONSIVE */
/* Da 500px a infinito */
@media screen and (min-width: 550px){
    /* Header */
    header{
        width: 10.625rem;
    }

    #nav-top div > #logo{
        display: block;
    }

    #logo-small{
        display: none;
    }

    .select.lime{
        border-left: .125rem solid limegreen;
    }

    header #playlist, a, header span, h4, strong, hr, #add-square{
        display: inline-block;
    }
}


/* Da 800px a infinito */
@media screen and (min-width: 800px){
    /* Header */
    header{
        width: 14.375rem;
    }

    /* Main */
    .row .col{
        width: calc(100% / 4);
    }
}


/* Da 1500px a infinito */
@media screen and (min-width: 1500px){
    /* Main */
    .row .col{
        width: calc(100% / 6);
    }
}
